
<div class="total-footer">
    <div class="footer-container">
<div class="footer-div">
   <p>Let's Bridge the Gap between Academics and Industries</p>
    <p>Plot No 132.2nd Floor.Above DCB Bank HMTNagar,Nacharam Main Road.Hyderabad - 500076</p>
        <h4>Phone: +91 40 3511 2535</h4>
     <h4>Email: info@thesmartbridge.com</h4>  
     <a href="#" class="fa fa-twitter fa-icons"></a>
     <a href="#" class="fa fa-facebook fa-icons"></a>
     <a href="#" class="fa fa-instagram fa-icons"></a>
     <a href="#" class="fa fa-linkedin fa-icons"></a>
    </div>

    <div class="footer1">
        <h4>Useful Links</h4>
        <p><a href="index.html"><i class="fa fa-angle-right"></i> Home</a></p>
        <p><a href="About.html"><i class="fa fa-angle-right"></i> About Us</a></p>
        <p><a href=""><i class="fa fa-angle-right"></i> Terms of Service</a></p>
        <p><a href=""><i class="fa fa-angle-right"></i> Privacy Policy</a></p>
        </div>
</div>
        <div>
        <p class="copyRights"> ®Copyright SmartBridge. All Rights Reserved</p>
        <!-- <p><a>terms of Service </a></p>
        <p><a>Privacy Policy</a></p> -->
    </div>
    





